.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: #ffffff;
    width: 100%;
    height: 100vh;
    position: relative;
    margin-bottom: 5em;
}
.header-img {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(80%);
    background-position: 0% 0%;
}
.wedding-date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Cantarell';
    font-size: 20px;
    line-height: 0px;
    position: absolute;
    top: 1.4em;
}
.year {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 11px;
}
.eighteen {
    font-size: 18px;
}
.this-is-us {
    margin-top: 2em;
}
.this-is-us::before {
    content: '';
    position: absolute;
    width: 30px;
    margin-left: 9.4em;
    border-top: solid 1px;
}
.this-is-us::after {
    content: '';
    position: absolute;
    width: 30px;
    margin-left: -10.4em;
    border-top: solid 1px;
}
.sergio-mica {
    text-align: center;
    font-family: 'Christine Signature';
    font-style: normal;
    font-weight: 400;
    font-size: 86px;
    line-height: 113px;
    position: absolute;
    bottom: 1.8em;
}
.header-wave {
    position: absolute;
    bottom: -4.1em;
    left: 0;
    width: 100%;
    height: 100px;
}

.scroll-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 4em;
    text-decoration: none;
}
.scroll-p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: #ffffff;
    margin-bottom: 0.4em;
}
.scroll-container a {
    text-decoration: none;
    cursor: pointer;
}
.header-down-arrow {
    margin-left: -0.4em;
    width: 70px;
    height: 40px;
    animation: bounce 2s linear infinite;
}
@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}
