@font-face {
    font-family: 'Cantarell';
    src: url('./assets/fonts/Cantarell/Cantarell-Regular.ttf');
}

@font-face {
    font-family: 'Christine Signature';
    src: url('./assets/fonts/christine_signature/Christine-Signature.ttf');
}
@font-face {
    font-family: 'Pinyon Script';
    src: url('./assets/fonts/Pinyon_Script/PinyonScript-Regular.ttf');
}
@font-face {
    font-family: 'Cormorant';
    src: url('./assets/fonts/Cormorant/static/Cormorant-Medium.ttf');
    src: url('./assets/fonts/Cormorant/static/Cormorant-Regular.ttf');
}
@font-face {
    font-family: 'Roboto';
    src: url('./assets/fonts/Roboto/Roboto-Thin.ttf');
}

*,
html,
body {
    box-sizing: border-box;
    max-width: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
